<div class="top-cart-holder dropdown animate-dropdown">
    <div class="basket" id="cart">
    {% if products or vouchers %}
        <a class="dropdown-toggle" data-toggle="dropdown">
            <div class="basket-item-count">
              <span class="count">{{ text_items_count }}</span>
              <img src="catalog/view/theme/default/images/icon-cart.png" alt="" />
            </div>
    
            <div class="total-price-basket">
              <span class="lbl">{{ text_items }}</span>
              <span class="total-price">
                <span class="value">{{ text_items_price }}</span>
              </span>
            </div>
        </a>
    
        <ul class="dropdown-menu">
            {% for product in products %}
            <li>
              <div class="basket-item">
                <div class="row">
                  <div class="col-xs-4 col-sm-4 no-margin text-center">
                    <div class="thumb">
                        {% if product.thumb %}
                            <a href="{{ product.href }}"><img alt="{{ product.name }}" src="{{ product.thumb }}" /></a>
                        {% endif %}
                    </div>
                  </div>
                  <div class="col-xs-8 col-sm-8 no-margin">
                    <div class="title"><a href="{{ product.href }}">{{ product.name }}</a></div>
                    <div class="title">Количество: x{{ product.quantity }}</div>
                    <div class="price">Стоимость: {{ product.total }}</div>
                  </div>
                </div>
                <button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="close-btn"></button>
              </div>
            </li>
            
            <li class="checkout">
                  <div class="basket-item">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <a href="{{ cart }}" class="le-button inverse">{{ text_cart }}</a>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <a href="{{ checkout }}" class="le-button">{{ text_checkout }}</a>
                      </div>
                    </div>
                  </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <a class="dropdown-toggle" data-toggle="dropdown">
        <div class="basket-item-count">
          <span class="count">0</span>
          <img src="catalog/view/theme/default/images/icon-cart.png" alt="" />
        </div>

        <div class="total-price-basket">
          <span class="lbl">Ваша корзина</span>
          <span class="total-price">
            <span class="value">0р<span>
          </span>
        </div>
    </a>
    
    <ul class="dropdown-menu">
        <li class="void-basket">
            <span>{{ text_empty }}</span>
        </li>
    </ul>
    {% endif %}
  </ul>
</div>
</div>