{% if categories %}
<div class="col-xs-12 col-sm-4 col-md-3 sidemenu-holder">
    
    <div class="side-menu animate-dropdown">
        <div class="head"><i class="fa fa-list"></i> {{ text_category }}</div>
        <nav class="yamm megamenu-horizontal" role="navigation">
            <ul class="nav">
                {% for category in categories %}
                <li class="dropdown menu-item">
                    {% if category.children %}
                    <a class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
                    <ul class="dropdown-menu mega-menu">
                        <li class="yamm-content">
                            <div class="row">
                                {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                {% for child in children %}
                                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                    {% else %}
                    <a class="dropdown-toggle" href="{{ category.href }}">{{ category.name }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    
</div>

{% endif %}